<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen wrapper bg-zinc-900 flex flex-col p-5">

        <!-- nav bar -->
        <nav class="w-full flex text-white p-2 px-4 border-[1px] border-zinc-500 rounded-md items-center justify-between">
            <h1 class="font-bold text-3xl ">B-Log</h1>

            <button class="sm:hidden h-12 w-12 rounded-full bg-white cursor-pointer" id="menubtn" onclick="toggleMenu()">
            </button>
        </nav>

        <!-- write a blog -->
         <section id="PostSection" class="border-[1px] border-zinc-500 rounded-md my-5 w-full pb-2 text-white">

            <form class="flex flex-col items-end" method="post" action="">
                <textarea class="w-full h-48 p-2 text-sm  resize-none rounded-md outline-none" name="" placeholder="Write Something..." maxlength="200" minlength="3"></textarea>

                <input class="mx-2 bg-blue-500 px-4 py-1 rounded-md" type="submit" value="Post">
            </form>
           

            </textarea>

        </section>

        <!-- feed sectinon -->
        <section id="feed" class="w-full flex flex-col gap-2">

            <div id="demoPost" class="w-full h border-[1px] border-zinc-500 rounded-md p-2" >

                <span class="text-yellow-500 text-xs">@username</span>

                <p class="text-white text-zinc-500 text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nostrum deserunt et consequuntur nesciunt facilis veniam blanditiis sunt. Voluptatum veritatis dicta ab molestiae? Temporibus, dolor cumque laudantium suscipit quasi accusantium!</p>

                <div id="actions" class="flex text-white font-mono text-sm mt-4 gap-5">
                    <span class="text-blue-500">Like</span>
                    <span class="text-red-500">DisLike</span>
                </div>

            </div>

        </section>




        <!-- demo body -->
        <div class="flex flex-col items-center gap-5 justify-center h-full w-full text-white py-10">
            <h1 class="text-xl uppercase "> Hello <span class="font-bold"><%= fullname %></span> 👋</h1>
            
            <div>
                <a class="bg-red-500 px-3 py-1 rounded-md" href="/logout">LogOut</a>
            </div>
        </div>

        

        

    </div>

    <script src="/scripts/index.js"></script>
</body>
</html>