<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen wrapper bg-zinc-900 flex flex-col p-5 sm:p-10">
        <nav class="h-4 w-full flex text-white p-5 px-8 sm:hidden border-[1px] border-zinc-500 rounded-md p-4 items-center justify-between">
            <h1 class="font-bold text-2xl ">Blog</h1>

            <button class="cursor-pointer" id="menubtn" onclick="toggleMenu()">
                <img class="h-6" src="/images/burger-bar.png" alt="menu">
            </button>
        </nav>

        <div class="flex flex-col items-center gap-5 justify-center h-full w-full text-white py-10">
            <h1 class="text-xl uppercase "> Hello <span class="font-bold"><%= fullname %></span> 👋</h1>
            
            <div>
                <a class="bg-red-500 px-3 py-1 rounded-md" href="/logout">LogOut</a>
            </div>
        </div>

    </div>

    <script src="/scripts/index.js"></script>
</body>
</html>